<section>
    <div class="container">
        <h5>Contact</h5>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
    </div>
    <div class="container d-flex justify-content-center ">        
    <div class="card border-0 bg-secondary bg-opacity-25" style="width: 50rem;">
        <div class="card-body">
            <div class="row mb-3 text-end">
                <label for="colFormLabel" class="col-sm-3 col-form-label-lg">Your E-mail</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
                </div>
                </div>
                <div class="row text-end">
                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Your message </label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="colFormLabelLg" placeholder="Please enter your message here...">
                </div>
                </div>            
                <div class="d-grid mt-3 gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div> 
</section>