<div class="container mt-5 mb-5">
    <div>
        <h1>Portfolio</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, placeat. Voluptate explicabo facere earum modi totam laudantium, sint eaque eum quis vitae. Dicta similique alias quasi illum. Sunt, neque sapiente.</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-0">
                <img src="https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_1280.jpg" class="card-img-top img-fluid mb-3" alt="..." style="width: 700px; height: 400px; object-fit: cover;">
                <div class="card-body p-0">
                    <h3 class="text-primary">Project Name</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quibusdam repudiandae similique assumenda veritatis labore laborum nulla praesentium voluptates, nobis veniam exercitationem fuga molestiae neque laudantium sed itaque repellat! Corrupti!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-0">
                <img src="https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_1280.jpg" class="card-img-top img-fluid mb-3" alt="..." style="width: 700px; height: 400px; object-fit: cover;">
                <div class="card-body p-0">
                    <h3 class="text-primary">Project Name</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quibusdam repudiandae similique assumenda veritatis labore laborum nulla praesentium voluptates, nobis veniam exercitationem fuga molestiae neque laudantium sed itaque repellat! Corrupti!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-0">
                <img src="https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_1280.jpg" class="card-img-top img-fluid mb-3" alt="..." style="width: 700px; height: 400px; object-fit: cover;">
                <div class="card-body p-0">
                  <h3 class="text-primary">Project Name</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quibusdam repudiandae similique assumenda veritatis labore laborum nulla praesentium voluptates, nobis veniam exercitationem fuga molestiae neque laudantium sed itaque repellat! Corrupti!</p>
                </div>
            </div>
        </div>
    </div>
</div>